.main-layout {
  display: flex;
  gap: 20px;
  width: 95%;
  margin: 30px auto;
  align-items: flex-start;
}
.chat-container {
  flex: 1;

  margin: 40px auto;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background: #2563eb;
  color: white;
  padding: 16px;
}

.messages {
  min-height: 400px;
  padding: 20px;
  background: #f9fafb;
}

.bot-message {
  background: #e5e7eb;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.input-area {
  display: flex;
  padding: 16px;
  gap: 10px;
}

.input-area input {
  flex: 1;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-area button {
  padding: 12px 20px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.user-message {
  background: #2563eb;
  color: white;
  padding: 12px;
  border-radius: 8px;
  width: fit-content;
  margin-left: auto;
  margin-top: 10px;
}
